/* 

This file will hold styles for the mobile version of your website (mobile first). 

Variables :

colors: 
Green base : #4FAD26
Green hover : #2a7a07
Grey : #EFEFEF

*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! DESKTOP 1600px !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*---------------------------------------- GLOBAL ----------------------------------------*/

body {
    font-family: "Open Sans Regular", Verdana, sans-serif;
    width: 100%;
	margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, div, p, span {
    font-family: "Open Sans", Verdana, sans-serif;
}

p {
    font-size: 0.9rem;
}

body #page {
    max-width: 1600px;
    margin: auto;
}

ul li.leaf {
	list-style: none;
}

p.button {
    background: #4FAD26;
    color: #fff;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.5s;
    margin: 0 0 20px 0;
}

p.button:hover {
    background: #2a7a07;
}

p.button a:link,
p.button a:visited {
    color: #fff;
    text-decoration: none;
}


/*######################################## FORMS ########################################*/

form label {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    color: #4FAD26;
    width: 150px;
}

input[type='text'],
input[type='password'] {
	margin: 0;
	padding: 10px 10px;
	box-shadow: none;
	border-bottom: 1px solid #000;
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 0;
}

input[type='text']:focus,
input[type='password']:focus {
	box-shadow: none;
	border-bottom: 2px solid #4FAD26;
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 0;
}

input[type='text'],
input[type='password'] {
	width: 120px;
	height: 25px;
}

input[type='submit'] {
    background: #4FAD26;
    color: #fff;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.5s;
    margin: 0 0 20px 0;
}

input[type='submit']:hover {
    background: #2a7a07;
}

.form-item div.description {
    margin: 10px 0 0 0;
    font-style: italic;
}


/*---------------------------------------- HEADER ----------------------------------------*/

#zone-pre-header-wrapper {
	width: 100%;
	height: 20px;
	padding: 5px 0;
	background-color: #EFEFEF;
}

#zone-pre-header {
	width: 1200px;
	margin: auto;
}

#zone-pre-header h1 {
	font-size: 0.8rem;
	color: #4FAD26;
	text-align: center;
	margin:0;
}

#zone-header-wrapper {
	width: 1200px;
	height: 100px;
	margin: auto;
}

#zone-header-wrapper #zone-header > div {
	float: left;
	margin: 0;
}

#region-logo {
	width: 20%;
	padding: 20px 0 0 0;
}

#region-logo .logo-img img {
	height: 63px;
	width: auto;
}

#region-main-menu {
	width: 60%;
	margin: 0;
    padding: 45px 0 0 0;
}

#region-main-menu ul {
	margin: 0;
}

#region-main-menu li {
	float: left;
}

#region-main-menu li.leaf {
	list-style: none;
}

#region-main-menu li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0 0 10px 0;
	margin: 0 10px;
	text-decoration: none;
	font-size: 1rem;
}

#region-main-menu li a:hover {
	border-bottom: 4px solid #4FAD26;
}

#region-search {
	width: 15%;
	padding: 45px 0 0 0;
}

#region-search #block-search-form #search-block-form{
    float: right;
}

#region-search #block-search-form #search-block-form input[type='text'] {
	width: 120px;
	height: 25px;
}

#region-search #block-search-form .form-actions {
	height: 30px;
	background-image: url('../img/search-icon.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding-bottom: 5px;
}

#region-search #block-search-form #search-block-form input[type='submit'] {
	width: 30px;
	height: 30px;
    padding: 0;
    margin: 0;
	opacity: 0;
}

#region-account {
	width: 5%;
	padding: 45px 0 0 0;
}

#region-account #block-system-user-menu {
    width: 30px;
    height: 30px;
    float: right;
    background-image: url('../img/account-icon.svg');
	background-repeat: no-repeat;
	background-size: 30px 30px;
}

#region-account #block-system-user-menu ul li {
    padding: 0;
    margin: 0;
}

#region-account #block-system-user-menu ul li a {
    opacity: 0;
    height: 30px;
    width: 30px;
    float: right;
    padding: 0;
    margin: 0;
}


/*---------------------------------------- CONTENT ----------------------------------------*/


/*######################################## HOME PAGE ########################################*/

.front h2.block-title {
    font-size: 2rem;
    text-align: center;
    margin: 30px 0 60px 0;
}

.front #section-content h2.block-title::after {
    content:'';
    position:absolute;
    width:100px;
    height:4px;
    top: 60px;
    left: 0;
    right: 0;
    background:#4FAD26;
    margin:auto;
}

#zone-highlight {
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 650px;
    overflow-y: hidden;
}

#zone-highlight #region-highlight {
    margin: 0;
    padding: 0;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .owl-wrapper-outer .owl-item img {
    width: 100%;
    height: auto;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .titles-block {
    position: absolute;
    top: 20%;
    left: 250px;
    right: 250px;
    padding: 50px 0 10px 0;
    text-align: center;
    background-color: rgba(0,0,0,.3);
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .titles-block p {
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .titles-block h2 {
    color: #4FAD26;
    font-size: 2.5rem;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 30px;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .titles-block form {
    margin-bottom: 40px;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .titles-block form input[type='text'] {
    background: none;
    margin-right: 20px;
    width: 30%;
    height: 30px;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .titles-block form input[type='text']:focus {
    border-bottom: 2px solid #4FAD26;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .titles-block form input::placeholder {
    color: #fff;
    font-size: 1rem;
    opacity: 0.8;
    text-transform: uppercase;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .titles-block form input:focus::placeholder {
    opacity: 0;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .titles-block h3 {
    color: #fff;
    font-size: 1rem;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .owl-controls .owl-pagination {
    position: absolute;
    right: 0;
    left: 0;
    top: 90%;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .owl-controls .owl-pagination .owl-page span {
    background-color: #fff;
}

#zone-highlight #region-highlight #block-views-highlight-slider-hp-block .owl-controls .owl-pagination .owl-page.active span {
    background-color: #4FAD26;
}

#zone-hp-first {
    width: 1200px;
    margin: auto;
}

#region-hp-first {
    margin: auto;
    width: 1100px;
}

#zone-hp-first #block-views-how-it-works-hp-block .owl-wrapper-outer {
    margin: 10px 0 ;
}

#zone-hp-first #block-views-how-it-works-hp-block .owl-item {
    padding: 0;
    margin: 0;
    text-align: center;
}

#zone-hp-first #block-views-how-it-works-hp-block .owl-item .vocabulary-jeu-tele-associe {
    width: 220px;
    margin: auto;
}

#zone-hp-first #block-views-how-it-works-hp-block .owl-item .item-group {
    margin-bottom: 30px;
}

#zone-hp-first #block-views-how-it-works-hp-block .owl-item .vocabulary-jeu-tele-associe img {
    width: 220px;
    height: 220px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#zone-hp-first #block-views-how-it-works-hp-block .owl-item .vocabulary-jeu-tele-associe div.title {
    width: 220px;
    height: 80px;
    background-color: #EFEFEF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 2px solid #4FAD26
}

#zone-hp-first #block-views-how-it-works-hp-block .owl-item .vocabulary-jeu-tele-associe h3 {
    font-size: 1rem;
    padding: 0 20px;
    margin: 0;
}

#zone-hp-first #block-views-how-it-works-hp-block .owl-buttons {
    position: absolute;
    top: 35%;
    width: 100%;
}

#zone-hp-first #block-views-how-it-works-hp-block .owl-buttons .owl-prev,
#zone-hp-first #block-views-how-it-works-hp-block .owl-buttons .owl-next {
    margin: 0;
    background: transparent;
    color: transparent;
    opacity: 1;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#zone-hp-first #block-views-how-it-works-hp-block .owl-buttons .owl-prev {
    float: left;
    margin-left: -50px;
    background-image: url('../img/arrow-slider-left.svg');
    background-position: left;
}

#zone-hp-first #block-views-how-it-works-hp-block .owl-buttons .owl-next {
    float: right;
    margin-right: -50px;
    background-image: url('../img/arrow-slider-right.svg');
    background-position: right;
}

#zone-hp-first #block-views-how-it-works-hp-block p.button {
    width: 180px;
    margin: 0 auto 20px auto;
}

#zone-hp-second {
    background-color: #EFEFEF;
    padding: 40px 0 40px 0;
}

#region-hp-second {
    width: 1200px;
    margin: auto;
}

#region-hp-second .content {
    width: 800px;
    margin: auto;
    text-align: center;
}

#region-hp-second .content p.button {
    width: 160px;
    margin: 40px auto;
}

/*######################################## OTHER CONTENTS ########################################*/

#section-content {
	width: 100%;
}

#zone-content-wrapper {
}

#zone-content {
	width: 1200px;
	margin: auto;
}

.breadcrumb {
	width: 1200px;
    position: absolute;
	margin: -300px auto;
	padding: 20px 0 0 50px;
}

#region-banner {
	width: 100%;
    height: auto;
	margin: 0;
}

#region-sidebar-first {
	width: 25%;
	float: left;
	margin: 0;
}

#region-sidebar-second {
	width: 25%;
	float: right;
	margin: 0;
}

#region-content {
	float: left;
	margin: 0;
	width: 100%
}

#region-content img {
    max-width: 100%;
    height: auto;
}

h1#page-title {
    background-color: #4FAD26;
    padding: 10px 50px;
    width: fit-content;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 20px 100px;
}

#region-sidebar-first + #region-content {
	width: 75%;
}

#region-sidebar-second + #region-content {
	width: 75%;
}

#region-sidebar-first + #region-sidebar-second + #region-content {
	width: 50%;
}


/*######################################## PAGE USER LOGIN / USER / REGISTER / FORGOT PASSWORD ########################################*/

[class*="page-user"] .login,
[class*="page-user"] .new-account {
    width: 50%;
    float: left;
}

[class*="page-user"] .login h2,
[class*="page-user"] .new-account h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

[class*="page-user"] div.tabs.clearfix,
[class*="page-user"] form#user-login {
    margin: 0;
    float: left;
    width: 100%;
}

[class*="page-user"] ul.primary.tabs.clearfix {
    border: none;
}

[class*="page-user"] ul.primary.tabs.clearfix li:nth-child(1) {
    width: 45%;
    float: right;
}

[class*="page-user"] ul.primary.tabs.clearfix li:nth-child(3) {

}

[class*="page-user"] ul.primary.tabs.clearfix li:nth-child(1) a,
[class*="page-user"] ul.primary.tabs.clearfix li:nth-child(1) a:visited,
[class*="page-user"] ul.primary.tabs.clearfix li:nth-child(1) a:active {
    background-color: #4FAD26;
    color: #fff;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    position: absolute;
    margin: 150px 0 0 0;
}

[class*="page-user"] ul.primary.tabs.clearfix li:nth-child(1) a:hover {
    background-color: #2a7a07;
    transition: all 0.5s;
}

[class*="page-user"] ul.primary.tabs.clearfix li:nth-child(2) a {
    display: none;
}

[class*="page-user"] ul.primary.tabs.clearfix li:nth-child(3) a,
[class*="page-user"] ul.primary.tabs.clearfix li:nth-child(3) a:visited,
[class*="page-user"] ul.primary.tabs.clearfix li:nth-child(3) a:active {
    background: none;
    border: none;
    color: #4FAD26;
    position: absolute;
    margin: 245px 0 0 180px;
}

[class*="page-user"] ul.primary.tabs.clearfix li:nth-child(3) a:hover {
    color: #2a7a07;
}

[class*="page-user"] ul.primary.tabs.clearfix li .active {
    display: none;
}

[class*="page-user"] form#user-login > div {
    width: 50%;
    margin: -70px 0 30px 30px;
}

[class*="page-user"] form#user-login .form-item label[for="edit-name"] {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background-image: url("../img/account-icon.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    float: left;
}

[class*="page-user"] form#user-login .form-item label[for="edit-pass"] {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background-image: url("../img/padlock.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    float: left;
}

[class*="page-user"] input[type="text"],
[class*="page-user"] input[type="password"] {
    width: 200px;
    margin-top: 5px;
    color: #000;
    font-size: 0.9rem;
}

[class*="page-user"] form#user-login .form-item label,
[class*="page-user"] form#user-login .form-item .form-required {
    color: transparent;
}

[class*="page-user"] form#user-pass {
    width: fit-content;
    margin: auto;
}

[class*="page-user"] form#user-pass .form-item {
    margin-top: 50px;
}

[class*="page-user"] form#user-pass .form-item label {
    width: 200px;
}

[class*="page-user"] form#user-pass .form-item input[type="text"] {
    width: 350px;
}

[class*="page-user"] form#user-pass #edit-actions {
    width: fit-content;
    margin: 30px auto;
}

.page-user-password ul.primary.tabs.clearfix li {
    display: none;
}


/*---------------------------------------- FOOTER ----------------------------------------*/

#section-footer {
    background: rgba(79, 173, 38, 1);
}

#section-footer #zone-footer-wrapper {
	width: 1200px;
	margin: auto;
    padding: 40px 0;
}

#zone-footer-wrapper #zone-footer>div {
	float: left;
	margin: 0;
}

#zone-footer-wrapper #zone-footer h2.block-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

#zone-footer-wrapper #zone-footer h2.block-title::after {
    content:'';
    position:absolute;
    width:100px;
    height:2px;
    top: 40px;
    left: 0;
    right: 0;
    background:#fff;
    margin:auto;
}

#zone-footer ul {
    padding: 30px 0 0 50px;
}

#zone-footer ul li a {
    text-decoration: none;
    color: #fff;
}

#region-footer-first {
	width: 50%;
}


#region-footer-second {
	width: 49%;
    border-left: 1px solid #fff;
}

#zone-secondary-footer-wrapper {
	width: 100%;
	background-color: #fff;
    padding: 10px 0 0 0;
}

#region-secondary-footer {
	width: 1200px;
	margin: auto;
}

#region-secondary-footer ul {
	margin: 0;
}

##region-secondary-footer li {
}

#region-secondary-footer li.leaf {
	list-style: none;
    display: inline-block;
}

#region-secondary-footer li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0 0 10px 0;
	margin: 0 10px;
	text-decoration: none;
	font-size: 0.8rem;
}

#region-secondary-footer ul.menu li.first {
    margin-left: 0;
    padding-left: 0;
}

#region-secondary-footer ul.menu li.first a {
    margin-left: 0;
    padding-left: 0;
}

#region-secondary-footer ul.menu li.last {
    float: right;
}




/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! RESPONSIVE DESIGN !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



/*---------------------------------------- GLOBAL ----------------------------------------*/



/*---------------------------------------- HEADER ----------------------------------------*/



/*---------------------------------------- CONTENT ----------------------------------------*/


/*######################################## HOME PAGE ########################################*/

@media screen and (max-width: 1280px) {
    
    #zone-highlight img {
        height: 500px;
    }
}



/*######################################## OTHER CONTENTS ########################################*/



/*---------------------------------------- FOOTER ----------------------------------------*/
