/* This file will hold styles for the mobile version of your website (mobile first). */

/* GLOBAL */

body {
	width: 100%;
	margin: 0;
}

ul li.leaf {
	list-style: none;
}

input[type='text'] {
	margin: 0;
	padding: 10px 10px;
	box-shadow: none;
	border-bottom: 1px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 0;
}

input[type='text']:focus {
	box-shadow: none;
	border-bottom: 2px solid #4FAD26;
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 0;

}

/* HEADER */

#zone-pre-header-wrapper {
	width: 100%;
	height: 20px;
	padding: 5px 0;
	background-color: #EFEFEF;
}

#zone-pre-header {
	width: 1200px;
	margin: auto;
}

#zone-pre-header h1 {
	font-size: 0.8rem;
	color: #4FAD26;
	text-align: center;
	margin:0;
}

#zone-header-wrapper {
	width: 1200px;
	height: 100px;
	margin: auto;
}

#zone-header-wrapper #zone-header > div {
	float: left;
	margin: 0;
}

#region-logo {
	width: 20%;
	padding: 20px 0 0 0;
}

#region-logo .logo-img img {
	height: 63px;
	width: auto;
}

#region-main-menu {
	width: 60%;
	margin: 0;
    padding: 45px 0 0 0;
}

#region-main-menu ul {
	margin: 0;
}

#region-main-menu li {
	float: left;
}

#region-main-menu li.leaf {
	list-style: none;
}

#region-main-menu li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0 0 10px 0;
	margin: 0 10px;
	text-decoration: none;
	font-size: 1rem;
}

#region-main-menu li a:hover {
	border-bottom: 4px solid #4FAD26;
}

#region-search {
	width: 15%;
	padding: 45px 0 0 0;
}

#region-search #block-search-form #search-block-form{
    float: right;
}

#region-search #block-search-form #search-block-form input[type='text'] {
	width: 120px;
	height: 25px;
}

#region-search #block-search-form .form-actions {
	height: 30px;
	background-image: url('../img/search-icon.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding-bottom: 5px;
}

#region-search #block-search-form #search-block-form input[type='submit'] {
	width: 30px;
	height: 30px;
    padding: 0;
    margin: 0;
	opacity: 0;
}

#region-account {
	width: 5%;
	padding: 45px 0 0 0;
}

#region-account #block-system-user-menu {
    width: 30px;
    height: 30px;
    float: right;
    background-image: url('../img/account-icon.svg');
	background-repeat: no-repeat;
	background-size: 30px 30px;
}

#region-account #block-system-user-menu ul li {
    padding: 0;
    margin: 0;
}

#region-account #block-system-user-menu ul li a {
    opacity: 0;
    height: 30px;
    width: 30px;
    float: right;
    padding: 0;
    margin: 0;
}


/* CONTENT */


#section-content {
	width: 100%;
}

#zone-content-wrapper {
	width: 1200px;
	margin: auto;
}

#zone-content {
	margin: 0;
	width: 100%;
}

.breadcrumb {
	width: 1200px;
	margin: auto;
	padding: 20px 0 0 50px;
}

#region-banner {
	width: 100%;
	margin: 0;
}

#region-sidebar-first {
	width: 25%;
	float: left;
	margin: 0;
}

#region-sidebar-second {
	width: 25%;
	float: right;
	margin: 0;
}

#region-content {
	float: left;
	margin: 0;
	width: 100%
}

#region-sidebar-first + #region-content {
	width: 75%;
}

#region-sidebar-second + #region-content {
	width: 75%;
}

#region-sidebar-first + #region-sidebar-second + #region-content {
	width: 50%;
}



/* FOOTER */

#section-footer {
	width: 1200px;
	margin: auto;
}

#zone-footer-wrapper {
	width: 1200px;
	margin: auto;
}

#zone-footer-wrapper #zone-footer>div {
	float: left;
	margin: 0;
}

#region-footer-first {
	width: 50%;
}

#region-footer-second {
	width: 50%;
}

#zone-secondary-footer-wrapper {
	width: 1200px;
	margin: auto;
}

#region-secondary-footer {
	width: 100%;
	margin: auto;
}
